<!--A Design by W3layouts
Author: W3layout
Author URL: http://w3layouts.com
License: Creative Commons Attribution 3.0 Unported
License URL: http://creativecommons.org/licenses/by/3.0/
-->
<!DOCTYPE html>
<html>
<head>
    <title>@ViewBag.Title</title>
    <link href="~/Content/css/bootstrap-3.1.1.min.css" rel='stylesheet' type='text/css' />
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="~/Content/js/jquery.min.js"></script>
    <!-- Custom Theme files -->
    <!--theme-style-->
    <link href="~/Content/css/style.css" rel="stylesheet" type="text/css" media="all" />
    <!--//theme-style-->
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <meta name="keywords" content="@ViewBag.Title" />
    <script type="application/x-javascript"> addEventListener("load", function() { setTimeout(hideURLbar, 0); }, false); function hideURLbar(){ window.scrollTo(0,1); } </script>
    <link href='//fonts.googleapis.com/css?family=Raleway' rel='stylesheet' type='text/css'>
    <link href='//fonts.googleapis.com/css?family=Poiret+One' rel='stylesheet' type='text/css'>
    <!-- start menu -->
    <script src="~/Content/js/bootstrap.min.js"></script>
    <!-- slide -->
    <!-- animation-effect -->
    <link href="~/Content/css/animate.min.css" rel="stylesheet">
    <script src="~/Content/js/wow.min.js"></script>
    <link href="~/Content/toastr.css" rel="stylesheet" />
    <script>
        new WOW().init();
    </script>
    <!-- //animation-effect -->
</head>
<body>
    <!--header-->
    <div class="header">
        <div class="header_toptop" style="color: #FFF; padding: 13px 0; background-color: #005ec4">
            <div class="container">
                <div style="display: flex; justify-content: space-between;">
                    <div>
                        <span style="padding-right: 10px">Hotline: <a style="color:#fff" href="tel:0853968952">0853968952</a></span>
                        <span>Email: <a style="color:#fff" href="mailto:trhuong1812@gmail.com">trhuong1812@gmail.com</a></span>
                    </div>
                    <div>207 Giải Phóng, Đồng Tâm, Hai Bà Trưng, Hà Nội</div>
                </div>
            </div>
        </div>
        <div class="header-top">
            <div class="container" style="display:flex; align-items:center">
                <div class="col-sm-3 animated wow fadeInLeft" data-wow-delay=".5s">
                    <h1><a href="@Url.Action("Index", "Home")"><img src="~/Content/images/logo-1.png" class="logo_pc w-100" alt="logo" /></a></h1>
                </div>
                <div class="col-sm-4 world animated wow fadeInRight" data-wow-delay=".5s">
                    <div class="cart">
                        <a href="/Cart/Checkout">
                            <h3 style="color:#f04e45">
                                <div class="total">
                                    @{
                                        List<tranthihuong_cdtt.Models.ItemCart> itemCarts = Session["Cart"] as List<tranthihuong_cdtt.Models.ItemCart>;
                                        if (itemCarts != null && itemCarts.Count > 0)
                                        {
                                            <span class="simpleCart_total">@itemCarts.Sum(x => x.ProductPrice * x.Quantity).ToString("#,##")₫ (@itemCarts.Sum(x => x.Quantity))</span>
                                        }
                                        else
                                        {
                                            <span class="simpleCart_total">0₫ (0)</span>
                                        }
                                    }
                                </div>
                                <img src="~/Content/images/cart.png" alt="" />
                            </h3>
                        </a>
                    </div>
                </div>
                @{
                    tranthihuong_cdtt.Models.User user = Session["User"] as tranthihuong_cdtt.Models.User;

                    if (user != null)
                    {
                        <input type="text" id="UserID" value="@user.ID" hidden />
                        <div class="col-sm-4 number animated wow fadeInRight" data-wow-delay=".5s">
                            <span><i class="glyphicon glyphicon-shopping-cart"></i><a href="/User/CheckoutOrder" style="color: #f04e45; margin-left: 4px">Đơn hàng</a></span>
                            <span style="float:right"><i class="glyphicon glyphicon-user"></i><a href="@Url.Action("Profile","User")" style="color: #f04e45; margin-left: 4px">@user.Name</a></span>
                        </div>
                    }
                    else
                    {
                        <div class="col-sm-4"></div>
                    }
                }
                <div class="col-sm-1 animated wow fadeInRight" data-wow-delay=".5s" style="text-align:right">
                    <a class="play-icon popup-with-zoom-anim" href="#small-dialog"><i style="color: #f04e45" class="glyphicon glyphicon-search"> </i> </a>
                </div>
                <div class="clearfix"> </div>
            </div>
        </div>
        <div style="background-color:#f04e47">
            <div class="container">
                <div class="head-top" style="padding:0">
                    <div class="n-avigation">

                        <nav class="navbar nav_bottom" role="navigation" style="min-height:40px;border:0">

                            <!-- Brand and toggle get grouped for better mobile display -->
                            <div class="navbar-header nav_2">
                                <button type="button" class="navbar-toggle collapsed navbar-toggle1" data-toggle="collapse" data-target="#bs-megadropdown-tabs">
                                    <span class="sr-only">Toggle navigation</span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                    <span class="icon-bar"></span>
                                </button>
                                <a class="navbar-brand" href="#"></a>
                            </div>
                            <!-- Collect the nav links, forms, and other content for toggling -->
                            <div class="collapse navbar-collapse" id="bs-megadropdown-tabs">
                                <ul class="nav navbar-nav nav_1">
                                    <li><a href="/">Trang chủ</a></li>
                                    <li><a href="/Product/">Sản phẩm</a></li>
                                    @if (user != null)
                                    {
                                        <li><a href="/Home/SignOut">Đăng xuất</a></li>
                                    }
                                    else
                                    {
                                        <li><a href="/Home/SignUp">Đăng ký</a></li>
                                        <li><a href="/Home/SignIn">Đăng nhập</a></li>
                                    }
                                </ul>
                            </div><!-- /.navbar-collapse -->

                        </nav>
                    </div>


                    <div class="clearfix"> </div>
                    <!---pop-up-box---->
                    <link href="~/Content/css/popuo-box.css" rel="stylesheet" type="text/css" media="all" />
                    <script src="~/Content/js/jquery.magnific-popup.js" type="text/javascript"></script>
                    <!---//pop-up-box---->
                    <div id="small-dialog" class="mfp-hide">
                        <div class="search-top">
                            <div class="login">
                                <form action="/Product/Index" method="get">
                                    <input type="submit" value="">
                                    <input type="text" name="keyword" value="Nhập vào từ khóa..." onfocus="this.value = '';" onblur="if (this.value == '') {this.value = '';}">
                                </form>
                            </div>
                        </div>
                    </div>
                    <script>
                        $(document).ready(function () {
                            $('.popup-with-zoom-anim').magnificPopup({
                                type: 'inline',
                                fixedContentPos: false,
                                fixedBgPos: true,
                                overflowY: 'auto',
                                closeBtnInside: true,
                                preloader: false,
                                midClick: true,
                                removalDelay: 300,
                                mainClass: 'my-mfp-zoom-in'
                            });

                        });
                    </script>
                    <!---->
                </div>
            </div>
        </div>
    </div>

    @RenderBody()


    <input type="hidden" class="toast-server" data-type="success" id="success" value="@TempData["success"]" />
    <input type="hidden" class="toast-server" data-type="error" id="error" value="@TempData["error"]" />
    <!--footer-->
    <footer>
        <div class="footer-top">
            <div class="container">
                <div style="display:flex;justify-content:space-between">
                    <div class="col-3">
                        <div class="main-heading>
                            <p class="h6 text-uppercase">HOTLINE CHĂM SÓC KHÁCH HÀNG</p>
                        </div>
                        <p>
                            <span>
                                <a href="tel:0853968952" style="font-size: 35px; color: red; font-weight: 700;">0853968952</a>
                            </span><br>
                            <span>
                                <em>
                                    Từ thứ Hai đến thứ Bảy (08:00 - 17:00) <br>
                                    Chủ nhật (08:00 - 12:00)
                                    </a>
                                </em>
                            </span>
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="main-heading ">
                            <p class="h6 text-uppercase">ĐIỀU KHOẢN & CHÍNH SÁCH</p>
                        </div>
                        <!--end::Title Head-->
                        <!--begin::Content-->
                        <p>
                            <span style="font-size:18px;">
                                <a href="#"><i class="fa fa-angle-right"></i> Chính sách giao hàng</a>
                            </span><br>
                            <span style="font-size:18px;">
                                <a href="#"><i class="fa fa-angle-right"></i> Chính sách tích lũy điểm</a>
                            </span><br>
                            <span style="font-size:18px;">
                                <a href="#"><i class="fa fa-angle-right"></i> Điều khoản điều kiện</a>
                            </span>
                        </p>
                    </div>
                    <div class="col-3">
                        <div class="main-heading">
                            <p class="h6 text-uppercase">Phương thức thanh toán</p>
                        </div>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> QR Code</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Tiền mặt</a>
                        </span><br>
                        <span style="font-size:18px;">
                            <a href="#"><i class="fa fa-angle-right"></i> Internet Banking</a>
                        </span>
                    </div>
                    <div class="col-3">
                        <div class="main-heading left_text">
                            <p class="h6 text-uppercase">HỖ TRỢ KHÁCH HÀNG</p>
                        </div>
                        <!--end::Title Head-->
                        <!--begin::Content-->
                        <p>
                            <span style="font-size:18px;">
                                <a href="#">Chính sách bảo mật</a>
                            </span><br>
                            <span style="font-size:18px;">
                                <a href="#">Chính sách bảo hành đổi trả hàng hóa</a>
                            </span><br>
                            <span style="font-size:18px;">
                                <a>Số người đang online: <span id="counvisited"></span> </a>
                            </span><br>
                        </p>
                    </div>
                </div>
            </div>
        </div>
        <div class="footer-bot">
               <p>Công ty cổ phần TNHH Đồ chơi trẻ em. Số ĐKKD: 0309132354 do sở kế hoạch và đầu tư cấp ngày 18/12/2001</p>
        </div>
    </footer>
    <script>
        (function () {
            $('.toast-server').each(function (i, input) {
                var $input = $(input);
                var val = $input.val();
                console.log(val);
                if (val) {
                    toastr.options = toastr.options || {};
                    toastr.options.closeButton = true;
                    toastr[$input.data('type')](val);
                }
            });
        })();
    </script>
    <script src="~/Content/js/notify.min.js"></script>

    <script src="~/Scripts/jquery.signalR-2.4.2.min.js"></script>
    <script src="~/Scripts/toastr.js"></script>
</body>
</html>